ul {
  display: flex;
  padding: inherit;
  padding-top: 0;
}

.section {
  margin-bottom: 1rem;
  padding-right: 0;
  font-family: inherit;
  padding-top: 2rem;
}
.section_name {
  text-align: left;
  font-weight: bold;
}
